# Data Science Tools and Ecosystem

## Author: 
    Todd Adams

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List commonly used libraries used by Data Scientists
* List commonly used Data Science Tools
* Show examples of arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python:

 This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

##### This below will convert 200 minutes to hours by diving by 60:

In [12]:
200.0/60

3.3333333333333335